.single-news {
  background: #f3f3f3;
  text-align: center;
  margin: 0.3rem auto;
  border-bottom: 4px solid lightgrey;
}

.links {
  padding: 0.3rem;
  letter-spacing: 4px;
  margin: 0.5rem auto;
}

.link {
  background: grey;
  padding: 0.2rem 0.5rem;
  letter-spacing: 3px;
}
